@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
    --main-color: #1769d3;
    --red: #ff0000;
    --orange: #85cc14;
    --white: #ffffffff;
    --black: #243749;
    --light-color: #888;
    --light-bg: #eee;
    --border: .1rem solid rgb(167, 143, 143);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

::selection{
    background-color: var(--main-color);
    color: #fff;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    border: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    border-radius: 0.5rem;
}

.btn,
.option-btn,
.delete-btn{
    display: block;
    width: 100%;
    border-radius: 0.5rem;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display: inline-block;
    border-radius: 0.5rem;
}

.btn, 
.inline-btn{
    background-color: var(--main-color);
    border-radius: 0.5rem;
}

.option-btn,
.inline-option-btn{
    background-color: var(--orange);
    border-radius: 0.5rem;
}

.delete-btn,
.inline-delete-btn{
    background-color: var(--red);
    border-radius: 0.5rem;
}

.btn,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
    background-color: var(--black);
    border-radius: 0.5rem;
}

.message{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1200;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: .5rem;
}

.message2{
    position: absolute;
    top: 40%; left: 0; right: 0;
    z-index: 1200;
    background-color: var(--light-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: .5rem;
    font-size: 12px;
    margin-bottom: 50px;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
    animation: popup 1s ease-in;
}

.message2 span{
    background-color: var(--black);
    padding: 15px;
    border-radius: 2rem;
    color: var(--light-color);
    font-size: 20px;
}

.message2 form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message2 form div{
    display: flex;
}

.message2 form div input{
    margin-left: 20px;
}

.message2 form textarea{
    background: var(--white);
    width: 100%;
    border-radius: 2rem;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

@keyframes popup {
    0%{
        transform: scale(0.1);
        top: -20%;
    }
    100%{
        top: 40%;
        transform: scale(1);
    }
}

.course_register{
    position: relative;
}

.empty{
    width: 100%;
    background-color: var(--white);
    color: var(--red);
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    border-radius: .5rem;
}

.message.form{
    top: 2rem;
    background-color: white;
}

.message span{
    font-size: 2rem;
    color: var(--black);
}

.message i{
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--red);
    transition: .2s linear;
}

.message i:hover{
    transform: rotate(90deg);
}

.flex-btn{
    display: flex;
    gap: 1rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--light-bg);
}

section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    background-color: var(--white);
}

.header .flex{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .flex .search-form{
    width: 50rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 2rem;
}

.header .flex .search-form input{
    background: none;
    width: 100%;
    font-size: 1.8rem;
    color: var(--black);
}

.header .flex .search-form button{
    background: none;
    font-size: 2rem;
    cursor: pointer;
}

.header .flex .search-form button:hover{
    color: var(--main-color);
}

.header .flex .icons{
    display: flex;
}

.header .flex .icons div{
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    background-color: var(--light-bg);
    border-radius: .5rem;
    text-align: center;
}

.header .flex .icons div:hover{
    background-color: var(--black);
    color: var(--white);
}

#search-btn{
    display: none;
}

.header .flex .profile{
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    padding: 1.5rem;
    text-align: center;
    border-radius: .5rem;
    width: 30rem;
    transform-origin: top;
    transform: scale(0);
    transition: .2s linear;
}

.header .flex .profile.active{
    transform: scale(1);
}

.header .flex .profile h3{
    margin-bottom: .5rem;
    font-size: 2rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.header .flex .profile span{
    font-size: 1.5rem;
    color: var(--light-color);
}

.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.dashboard .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.5rem;
    text-align: center;
}

.dashboard .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: .5rem;
}

.dashboard .box-container .box p{
    margin: 1rem 0;
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--light-bg);
    font-size: 2rem;
    color: var(--light-color);
}

.form-container form h3{
    text-align: center;
    color: var(--black);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.form-container{
    min-height: calc(100vh - 17rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form.login{
    width: 50rem;
}

.form-container form{
    width: 80rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2.3rem;
}

.form-container form .flex{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.form-container form p{
    padding-top: 1rem;
    font-size: 1.5rem;
    color: var(--light-color);
}

.form-container form p span{
    color: var(--red);
}

.form-container form .box{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    background-color: var(--light-bg);
}

.form-container form .flex .col{
    flex: 1 1 35rem;
}

.form-container form .link{
    margin: .5rem 0;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 2rem;
}

.form-container form .link a{
    color: var(--main-color);
}

.form-container form .link a:hover{
    text-decoration: underline;
}

.profile .details .tutor{
    margin-bottom: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.profile .details .tutor img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile .details .tutor h3{
    margin: .5rem 0;
    font-size: 2rem;
    color: var(--black);
}

.profile .details .tutor span{
    color: var(--light-color);
    font-size: 1.7rem;
    display: block;
}

.profile .details .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.profile .details .box-container .box{
    flex: 1 1 25rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 2rem;
    text-align: center;
}

.crud-form form{
    max-width: 50rem;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    padding-top: 1rem;
}

.crud-form form p{
    padding-top: 1rem;
    font-size: 1.8rem;
    color: var(--light-color);
}

.crud-form form .media{
    height: 20rem;
    border-radius: .5rem;
    margin-top: 1rem;
    margin: 1rem 0;
    width: 20rem;
    background: #fff;
}

.crud-form form p span{
    color: var(--red);
}

.crud-form form .box{
    width: 100%;
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1.4rem;
    color: var(--black);
    margin: 1rem 0;
    font-size: 1.8rem;
}

.crud-form form textarea{
    height: 20rem;
    resize: none;
}

.playlists .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.playlists .box-container .box{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
}

.playlists .box-container .box .thumb{
    position: relative;
    height: 20rem;
    margin: 2rem 0;
}

.playlists .box-container .thumb span{
    position: absolute;
    top: 1rem; left: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 2rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;

}

.playlists .box-container .thumb img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.playlists .box-container .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: .5rem;
}

.playlists .box-container .flex i{
    font-size: 1.7rem;
    color: var(--main-color);
    margin-right: 1rem;
}

.playlists .box-container .flex span{
    font-size: 1.6rem;
    color: var(--light-color);
}

.playlists .box-container .title{
    font-size: 2rem;
    color: var(--black);
}

.playlists .box-container .description{
    padding: 1rem 0;
    line-height: 2;
    margin-top: 1rem;
    font-size: 1.7rem;
    color: var(--light-color);
}

.playlists .box-container .description::after{
    content: '...';
}

.playlist-details .row{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    align-items: flex-end;
    gap: 2.5rem;
}

.playlist-details .row .details{
    flex: 1 1 40rem;
}

.playlist-details .row .thumb img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.playlist-details .row .thumb{
    width: 50rem;
}

.playlist-details .row .thumb .flex{
    display: flex;
    margin-top: 1rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
}

.playlist-details .row .thumb .flex p{
    font-size: 1.9rem;
}

.playlist-details .row .thumb .flex span{
    color: var(--light-color);
}

.playlist-details .row .thumb .flex i{
    color: var(--main-color);
    margin: 1rem;
}

.playlist-details .row .details .title{
    font-size: 2rem;
    color: var(--black);
}

.playlist-details .row .details .description{
    line-height: 2;
    font-size: 1.7rem;
    color: var(--light-color);
    padding-top: 1rem;
}

.FormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-color);
    flex-direction: column;
}

.formContainer{
    width: 45rem;
    background: var(--white);
    margin-top: 100px;
    transition: 1s;
    position: relative;
}

.formContainer:hover{
    background: var(--light-bg);
}

.formContainer .register-form{
    display: flex;
    flex-direction: column;
}

.formContainer .register-form .btn{
    margin-top: 30px;
    background-color: var(--main-color);
    color: #fff;
}

.formContainer .register-form .link{
    font-size: 1rem;
    padding-top: 20px;
    display: flex;
    align-self: center;
}

.formContainer .register-form .col input{
    width: 100%;
    height: 4rem;
    background: transparent;
    border-bottom: var(--border);
    padding-left: 10px;
    font-size: 13px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.formContainer .register-form .col input:focus{
    box-shadow: 0px 0px .5px .5px var(--black);
}

.formContainer .register-form .col input:focus ~ input::placeholder{
    color: #000;
}

.formContainer .register-form .col p{
    font-size: 1.2rem;
    padding-bottom: 10px;
    padding-top: 10px;
    color: var(--black);
}

.formContainer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: var(--border);
    border-radius: 1rem;
}

.formContainer-img{
    top: -5%;
    left: calc(50% - 3.5rem);
    position: absolute;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}

.formContainer h3{
    display: flex;
    align-self: center;
    font-size: 3rem;
    text-transform: capitalize;
    color: #243749;
    margin-top: 30px;
}

.contents .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.contents .box-container .box{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    overflow-x: hidden;
}


.contents .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    margin: 1.5rem 0;
}

.contents .box-container .box .flex{
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.contents .box-container .box .flex p{
    font-size: 1.6rem;
}
.contents .box-container .box .flex p span{
    color: var(--light-color);
}

.contents .box-container .box .flex p i{
    color: var(--main-color);
    margin-right: 1rem;
}

.contents .box-container .box .title{
    font-size: 2rem;
    color: var(--black);
    padding: .5rem 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.view-content .content{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
}

.view-content .content video{
    width: 100%;
    background-color: #000;
    height: 40rem;
    object-fit: contain;
    border-radius: .5rem;
}

.view-content .content .date{
    margin: 1rem 0;
    font-size: 1.6rem;
}

.view-content .content .date i{
    color: var(--main-color);
    margin-right: .7rem;
}

.view-content .content .date span{
    color: var(--light-color);
}

.view-content .content .title{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 1.5rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.view-content .content .flex{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.view-content .content .flex div{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 2rem;
}

.view-content .content .flex div i{
    margin-right: .9rem;
}

.view-content .content  .flex div span{
    color: var(--light-color);
}

.view-content .content .description{
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.7rem;
    color: var(--light-color);
}

.comments .box-container {
    display: grid;
    gap: 2.5rem;
    background-color: var(--white);
    padding: 2rem;
}

.comments .box-container .box .user{
    display: flex;
    gap: 2rem;
}

.comments .box-container .box .user img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.comments .box-container .box .user h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .2rem;
}

.comments .box-container .box .user span{
    font-size: 1.5rem;
    color: var(--light-color);
}

.comments .box-container .box .comment-box{
    background-color: var(--light-bg);
    border-radius: .5rem;
    border-radius: .5rem;
    position: relative;
    font-size: 1.7rem;
    color: var(--black);
    padding: 2rem;
    margin-top: 1.5rem;
    white-space: pre-line;
}

.comments .box-container .box .comment-box::before{
    content: '';
    position: absolute;
    top: -1rem; left: 1.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: .1rem;
    transform: rotate(45deg);
    background-color: var(--light-bg);
}

.comments .box-container .box .comment-content{
    background-color: var(--black);
    border-radius: .5rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
}

.comments .box-container .box .comment-content a{
    color: var(--orange);
    background: none;
}

.comments .box-container .box .comment-content a:hover{
    color: var(--white);
}

.comments .box-container .box .comment-content p{
    color: var(--white);
}

.student-profile .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.student-profile .box-container .box{
    width: 35rem;
    height: 10rem;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .5rem;
    padding: 2rem;
    margin: 1rem;
}

.student-profile .box-container .box .student{
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-profile .box-container .box .student img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.student-profile .box-container .box .student .students-details{
    display: flex;
    flex-direction: column;
}

.student-profile .box-container .box .student .students-details span{
    font-size: 1.5rem;
    color: var(--black);
}

.footer{
    position: sticky;
    bottom: 0; right: 0; 
    background-color: var(--white);
    border-top: var(--border);
    padding:1rem;
    text-align: center;
    color: var(--black);
    font-size: 1rem;
    z-index: 1000;
    width: 100%;
    margin-top: 5rem;
}

.footer.active{
    padding-left: 2rem;
}

.footer span{
    color: var(--main-color);
}
